<!-- Product Card -->
<div 
    class="p-4"
    data-controller="modal"
    data-action="click->modal#toggle"
    data-modal-target="content"
    data-modal-id="<%= @product.id %>"
>
    <h2 class="text-lg font-semibold mb-2"><%= @product.name %></h2>
    <p class="text-gray-600 mb-4"><%= @product.description %></p>
    <p class="text-blue-600 font-bold"><%= @product.quantity %></p>
</div>
<!-- Modal -->
<div 
    id="modal_<%= @product.id %>" 
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50"
    data-controller="modal"
    data-modal-target="content"
>
    <div class="bg-white rounded-lg shadow-lg w-1/2 p-6 relative">
        <button 
            class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
            data-action="modal#toggle"
            data-modal-id="<%= @product.id %>"
        >
            ✖
        </button>
        <h2 class="text-xl font-bold mb-4">Edit <%= @product.name %></h2>
        
        <turbo-frame id="edit_product_<%= @product.id %>">
            <%= render ProductFormComponent.new(product: @product) %>
        </turbo-frame>
    </div>
</div>